.loadMoreButton {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    min-height: 40px;
    border-radius: 20px;
    background-color: white;
    margin-top: 40px !important;
    margin-bottom: 100px !important;
    box-shadow: rgba(49, 49, 146, 0.1) 0px 8px 12px;
    font-weight: bold !important;
    font-family: Regular !important;
}

.footer {
    height: 100px;
}