.cardOuter {
    border-radius: 20px;
    box-shadow: rgba(49, 49, 146, 0.1) 0px 8px 12px;
    overflow: hidden;
    margin: 10px;
    background-color: white;

    h4 {
        padding: 0 5px 4px 0;
    }
    .cardMain{
        width: 100%;
        padding: 20px;
        padding-top: 40px;

        p {
            font-size: 0.9em;
        }
        a {
            font-size: 1.1em;
            font-weight: 700;
        }
        img {
            margin-bottom: 16px;
            max-height: 30px;
            // border: 1px solid rgba(149, 157, 165, 0.1);
            // border-radius: 15px;
        }
    }
    .cardSecondary {
        width: 100%;
        padding: 20px;
        background-color: whitesmoke;
        height: max-content;
    }
}

.cityBanner {
    width: 100%;

    .darken {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 10vh;
        padding-bottom: 5vh;
        text-align: center;

        h1 {
            color: white;
            text-align: center;
        }
    }
}